*{
    margin: 0;
    font-family: 'Lora', serif;
}

:root{
    --white: #FFFFFF;
    --gray: #7B7B7B;
    --black: #000000;
    --red: #EA0A0A;
}

p::selection{
    background-color: var(--black);
    color: var(--white);
}

.none{
    display: none !important;
}

.gray{
    filter: saturate(0);
}

.full-screen-img{
    width: 100vw;
    height: 100vh;
}

.volume-div{
    width: 100vw;
    height: 100vh;
    background-color: #000000da;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.volume-btn{
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    border: .2rem solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    opacity: .65;
}

.volume-btn:hover{
    opacity: 1;
}

.volume-icon{
    width: 40%;
}

.bold-volume-txt{
    font-weight: 700;
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 3rem;
}

.volume-txt{
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 100;
    margin-top: .75rem;
}

.first-video, .second-video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: .3s;
}

.first-video{
    z-index: -1;
}

.second-video{
    z-index: 500;
}

/*Start screen*/

#start-screen{
    width: 100vw;
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/185100559/es/foto/fotos-de-pared-blanco.jpg?s=170667a&w=0&k=20&c=G1hdPja5DgYUO1MweJb7dRp-7C_gBrLmRe0GJQxnz8A=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    position: fixed;
    z-index: 55;
}

#start-screen img{
    height: 4rem;
    margin-top: 8rem;
}

#start-screen p{
    color: var(--gray);
    font-size: 1.75rem;
    margin-top: 4rem;
}

.start-btn{
    text-decoration: none;
    border: 2px solid var(--red);
    padding: .5rem 4rem;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 5rem;
    font-size: 1.25rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: .3s;
}

.start-btn:hover{
    padding: .5rem 5rem;
}

.hidden{
    opacity: 0;
}

/*Main*/

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav{
    position: fixed;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

nav img{
    width: 2.5rem;
    cursor: pointer;
    transition: .3s;
}

.previous{
    transform: rotate(90deg);
}

.next{
    transform: rotate(270deg);
}

nav p{
    font-size: 2rem;
    font-weight: 600;
}

.room-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 3rem;
}

.room-line{
    width: 6rem;
    margin-bottom: .25rem;
    background-color: var(--red);
    height: .2rem;
}

.frames{
    position: fixed;
    width: 90vw;
    height: 45vh;
    right: 5vw;
    top: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.frame{
    width: 17rem;
    height: 17rem;
    cursor: pointer;
    background-image: url(assets/images/frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame img{
    height: 80%;
    width: 60%;
    filter: saturate(0);
    transition: .3s;
}

.frame img:hover{
    filter: saturate(1);
}

/*Content*/

.content{
    width: 70vw;
    height: 65vh;
    background-color: var(--white);
    border: var(--black) solid 3px;
    border-radius: 3rem;
    position: absolute;
    margin-top: 12vh;
    padding: 2rem;
    z-index: 50;
    overflow-y: auto;
    padding-bottom: 4rem;
}

.content h3{
    font-size: 2.25rem;
    text-align: center;
    width: 75%;
    color: var(--red);
    margin-top: 2rem;
    margin-left: 15%;
}

.content-text{
    width: 75%;
    font-size: 1.5rem;
    color: var(--black);
    text-align: justify;
    margin-top: 3rem;
    margin-left: 15%;
}

.close-content{
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: var(--red) solid 3px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 66vw;
    cursor: pointer;
    position: absolute;
}

.close-content p{
    font-size: 1.2rem;
    color: var(--red);
    font-weight: 800;
    text-align: center;
}