*{
    margin: 0;
    font-family: 'Lora', serif;
}

:root{
    --white: #FFFFFF;
    --gray: #7B7B7B;
    --black: #000000;
    --red: #EA0A0A;
}

p::selection{
    background-color: var(--black);
    color: var(--white);
}

.none{
    display: none !important;
}

.gray{
    filter: saturate(0);
}

/*Start screen*/

#start-screen{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    position: fixed;
    z-index: 55;
}

#start-screen img{
    height: 4rem;
}

#start-screen p{
    color: var(--gray);
    font-size: 1.75rem;
    margin-top: 4rem;
}

.start-btn{
    text-decoration: none;
    border: 2px solid var(--red);
    padding: .5rem 4rem;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 5rem;
    font-size: 1.25rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

span {
    position: relative;
    z-index: 3;
}

.start-btn::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: scaleY(1);
}
.start-btn::after{
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: scaleX(1);
}

.start-btn:hover::before{
    transform: scaleY(0);
}
.start-btn:hover::after{
    transform: scaleX(0);
}

.hidden{
    opacity: 0;
}

/*Main*/

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav{
    position: fixed;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

nav img{
    width: 2.5rem;
    cursor: pointer;
    transition: .3s;
    opacity: .75;
}

nav img:hover{
    opacity: 1;
}

.previous{
    transform: rotate(90deg);
}

.next{
    transform: rotate(270deg);
}

nav p{
    font-size: 2rem;
    font-weight: 600;
}

.room-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 3rem;
}

.room-line{
    width: 6rem;
    margin-bottom: .25rem;
    background-color: var(--red);
    height: .2rem;
}

.frames{
    position: fixed;
    width: 70vw;
    height: 45vh;
    right: 15vw;
    top: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frame{
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    background-image: url(assets/cuadro.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame img{
    width: 12.75rem;
    height: 8.5rem;
    margin-top: 3.25rem;
    filter: saturate(0);
    transition: .3s;
}

.frame img:hover{
    filter: saturate(1);
}